<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1 class="header">Forgot Password</h1>
<div class=""> If you forgot your password, please follow the link below!</div>
<div><a href="https://google.com/password/forgot/token={{token}}">Link!</a></div>
<footer>
    <a href="https://google.com">Google</a>
</footer>
</body>
</html>